@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kalam:wght@300;400;700&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100%;
}
.container{
    display: grid;
    grid-template-columns: 250px 1fr 300px;
    height: 100%;
    overflow: hidden;
}

/* menu design */
#menu{
    background-color: whitesmoke;
}

.brand-logo img{
    width: 100%;
}

.menu-item a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 30px;
    margin: 10px 0;
    color: rgb(128, 129, 129);
    font-weight: 300;
}

.menu-item a:hover{
    background-color: rgb(250, 212, 218);
}

#food-container{
    background-color: whitesmoke;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    background: whitesmoke;
    z-index: 1;
}

::-webkit-scrollbar{
    display: none;
}

#header .address{
    font-size: 20px;
}

.your-address{
    border: 1px solid indianred;
    color: indianred;
    padding: 5px 10px;
    border-radius: 5px;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    text-transform: capitalize;
}

.add-box i{
    font-size: 20px;
}

.util i,.user i{
    font-size: 18px;
    margin: 0 16px;
    border: 1px solid crimson;
    padding: 8px 16px;
    color: crimson;
    border-radius: 20px;
    cursor: pointer;
}

.util i:active,.user i:active{
    color: white;
    background-color: crimson;
}

.food-items{
    display: none;
}

#Kathiyawadi,#Punjabi,#Paneer,#Vegetable,#Chinese,#South-Indian{
    margin-top: 40px;
}

#Paneer #item-card,#Vegetable #item-card{
    background-color: rgb(218, 253, 188);
}

#Chinese #item-card,#SouthIndian #item-card{
    background-color: rgb(221, 243, 243);
}

#category-name,.item-menu{
    margin: 10px;
    font-size: 30px;
    color: coral;
}

#item-card{
    width: 195px;
    height: 220px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(253, 221, 226);
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

#card-top{
    display: flex;
    margin: 5px 0;
    justify-content: space-evenly;
}

#rating{
    padding: 7px;
    color: goldenrod;
    background-color: black;
    font-size: 14px;
    border-radius: 14px;
}

.fa-heart-o{
    padding: 6px;
    background-color: white;
    cursor: pointer;
    border-radius: 50px;
}

.fa-cart-plus{
    padding: 6px;
    background-color: white;
    cursor: pointer;
    border-radius: 50px;
}

.toggle-heart{
    background-color: orangered;
    color: white;
}

#item-card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-bottom: 15px;
}

#item-name{
    margin: 5px 0;
    font-weight: 600;
    color: darkslategray;
    font-size: 18px;
}

#item-price{
    margin: 0;
    color: rgb(2, 27, 27);
    font-weight: 500;
    font-size: 18px;
}

#cart{
    background-color: whitesmoke;
    padding-right: 30px;
    overflow-y: scroll;
}

.taste-header{
    padding-top: 40px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
}

.item-menu{
    margin: 0;
    font-size: 30px;
    margin-top: 40px;
    color: indianred;
    background-color: whitesmoke;
}

.border{
    width: 80px;
    height: 4px;
    margin: 3px 0;
    margin-bottom: 30px;
    border-radius: 2px;
    background: coral;
}

.list-card{
    display: flex;
    align-items: center;
    margin-top: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.list-card:hover{
    background-color: rgb(255, 216, 222);
}

.list-card:hover img{
    transition: 0.5 all ease-in-out;
    transform: scale(1.2);
}

.list-card img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px 0px 0px 6px
}

.list-name{
    font-size: 20px;
    margin: 0px 0px 0px 10px;
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(94, 43, 43);
}

.cart-toggle{
    display: none;
}

#cart-page{
    background-color: white;
    margin: 40px 10px;
    margin-right: 50px;
    padding: 20px 30px;
    padding-bottom: 30px;
    position: relative;
}

#cart-title{
    font-size: 35px;
    margin: 0;
    color: indianred;
}

#cart-page table{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

#cart-page table thead td{
    font-size: 25px;
    padding-bottom: 10px;
}

#m-total-amount{
    display: none;
}

#cart-page table tbody td{
    padding: 10px 0;
    font-size: 20px;
}

#cart-page table tbody button{
    outline: none;
    border: none;
    font-size: 16px;
    background: none;
    background-color: lightcoral;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 5px;
    padding: 3px 8px;
}

#cart-page table tbody img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

#checkout{
    text-align: center;
    margin: 40px auto;
    border-radius: 5px;
    background: white;
    padding: 10px 20px;
}

#checkout p{
    margin: 15px 0;
    float: left;
}

#total-price,#total-item{
    font-size: 25px;
    color: indianred;
}

.cart-btn{
    outline: none;
    border: none;
    background: crimson;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    font-size: 18px;
    text-transform: uppercase;
    bottom: 30px;
    margin: 15px 0;
    cursor: pointer;
}

.cart-btn:active{
    color: crimson;
    background: none;
    border: 1px solid;
}

#delievery{
    font-size: 20px;
    color: limegreen;
}

.fav-toggle{
    display: none;
}

#fav-page{
    background-color: white;
    margin: 40px 10px;
    margin-right: 50px;
    padding: 20px 30px;
    padding-bottom: 30px;
    position: relative;
}

#fav-title{
    font-size: 35px;
    margin: 0%;
    color: indianred;
}

#fav-page table{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

#fav-page table thead td{
    font-size: 25px;
    padding-bottom: 10px;
}

#fav-page table tbody td{
    padding: 10px 0;
    font-size: 20px;
}

#fav-page table tbody img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

#mobile-view{
    display: none;
}